.large-12.large-centered.columns
  %table
    %tr
      %th Date
      %th Communication
    - for communication in communications
      %tr
        %td= communication.datestamp
        %td= communication.details

