- extends "layout.haml"

- block content
  - include "communications/contact_header.haml"
  - include "communications/contact_communications.haml"

  .bottom
    %a.button.small{"data-reveal-id": "new-communication"}
      Add New Communication

  #new-communication.reveal-modal.small{"data-reveal": "true"}
    %a.close-reveal-modal
      x
    %form{action: "#{form_action}", method: "POST"}
      .error
        - if error
          ERRORS:
          = error
      - csrf_token
      %fieldset= form.as_p
      .submit-area
        %input.button.radius.small{type: "submit", value: "Save"}

