- extends "layout.haml"

- block content
  .large-10.large-centered.columns
  - for institution in institutions
    %a{href: "/communications/institutions/#{institution.id}"}
      = institution.name
