- extends "layout.haml"

- block content
  .large-12.large-centered.columns
  - for institution in institutions
    .institution
      %a{href: "/communications/institutions/#{institution.id}"}
        = institution.name
